body {
    background-color: #fefefe;
    font-family: Helvetica,  Arial,  sans-serif;
    margin: 0;
    padding: 0;
}

#overlay {
   visibility: hidden;
    position: fixed;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
}


#overlay #close img {
    width: 1.5rem;
    position: absolute;
    right: 0;
    padding: 2rem;
    cursor: pointer;
}

#navigate {
    display: grid;
    place-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    
}

#navigate ul {
    list-style: none;
    font-size: 3rem;    
    text-align: center;
    line-height: 5rem;
    cursor: pointer;
}

#navigate ul li:hover {
    font-weight: bold;
}


nav {
    text-align: center;
}

nav p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

header {
    font-size: 13rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

main {
    display: grid;
    place-items: center;
    width: 60vw;
    height: 60vh;
    margin: auto auto;
    
    
}

#content {
    background-color: #000;
    color: #fff;
    display: grid;
    place-items: center;
    height: 45vh;
    width: 45vw;
    overflow: hidden;
    border-radius: 2rem;
    
}



#content h1 {
    padding: 0;
    margin: 0;
}

#content {
    background-image: url(../images/takeoffobit.jpg.webp);
    background-size: cover;
}

main ul {

    list-style: none;
    margin: 0;
    position: absolute;
    right: 0;
    top: 45%;
    padding: 0 2rem;
    
}

main ul img {
    width: 2rem;
}

#tracklist ul {
    position: absolute;
    left: 0;
    top: 45%;
}

#tracklist ul h3 {
    padding: 0;
    margin: 0;
}


#tracklist ul li {
    color: gray;
}

#playstore {
    width: 70%;
    display: grid;
    grid-template-columns: 10% 10% 10% 55% 15%;

}

#playstore img {
    width: 2rem;
    cursor: pointer;
}

#playstore img:nth-child(2) {
    height: 2rem;
    padding: 0 0.1rem;
}

#playstore #trackLength {
    background-color: #e3e3e3;
    border-radius: 0.5rem;
    overflow: hidden;

}

#playstore #progressBar {
    background-color: #b3b3b3;
    height: 100%;
    width: 0;
    
}

#playstore  #time {
    
    display: grid;
    place-items: center;
    font-size: 0.7rem;
    padding-left: 0.5rem;
   
}

.conditions {
    height: 1.5rem;
    display: flex;
    
}





#night-day img {
   height: 1.5rem;
    padding: 2rem;
    justify-content: start;
    cursor: pointer;
    opacity: 0.4;   
    
}

#night-day img:hover {
    opacity: 1;
}

#menu {
    position: absolute;
    right: 0;
    padding: 2rem;
}

#menu img {
    width: 1.5rem;
    justify-content: flex-end;
    opacity: 0.4;
    cursor: pointer;
}

#menu img:hover {
    opacity: 1;
}
